rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /drivers/{driverId} {
      allow read, write: if true;
    }
    match /buses/{busId} {
      allow read, write: if true;
    }
    match /checkIns/{checkInId} {
      allow read, write: if true;
    }
    match /bus_driver_pairs/{pairId} {
      allow read, write: if true;
    }
  }
}